.announcements {
    box-shadow: 2px 2px 7px -1px #333;
    background-color: var(--menu-dark);
    border-radius: 4px;
    border: 2px solid var(--menu-light);
    margin: auto 50px auto 0;
    padding: 15px;
}

#announcementClose {
    color: white;
    cursor: pointer;
    font-size: 21px;
    margin: -20px -10px 0 0;
}

#announcementLeft {
    cursor: pointer;
    margin-bottom: auto;
    margin-right: 15px;
    margin-top: auto;
    transition: 0.5s;
}

#announcementRight {
    cursor: pointer;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: auto;
    transition: 0.5s;
}

#announcementTotal {
    font-size: 12px;
    margin-left: -12px;
    margin-top: -14px;
    position: absolute;
}

#announcementLeft:hover, #announcementLeft:focus, #announcementRight:hover, #announcementRight:focus {
    color: var(--menu-medium-accent);
    transform: scale(1.1);
}

.info-button-container {
    display: none;
    margin-top: 5px;
    justify-content: center;
}

@media screen and (max-width: 775px) {
    .announcements {
        margin: auto;
    }

    .info-button-container {
        display: inherit;
    }
}