.stat-block-area {
    grid-row: 1;
    grid-column: 5;
    width: 400px;
}

.creature-stat-block {
    background-color: #f9f9eb;
    border-color: black solid thin;
    border: thin solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #666;
    font-size: 13px;
    padding: 10px;
}

:root {
    --stat-block-primary: #58180D;
}

.creature-name {
    color: var(--stat-block-primary);
    font-size: 20px;
    font-weight: 700;
}

.actions .section-title {
    color: var(--stat-block-primary);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -10px;
}

.traits, .actions {
    white-space: pre-line;
}

.traits {
    border-bottom: 2px solid var(--stat-block-primary);
}

.traits div, .actions div {
    margin-bottom: 2px;
}


.creature-header-stats {
    width: 100%;
}

.stat-spread table {
    margin-top: 10px;
    width: 100%;
}

.creature-stat-block table tr:nth-child(1) {
    background-color: rgba(0,0,0,0.1);
    font-weight: 600;
}

.creature-stat-block table b {
    color: var(--stat-block-primary);
}

.creature-header-stats td {
    text-align: center;
}

.stat-spread td {
    text-align: center;
}

.creature-type {
    font-style: italic;
}

.divider {
    width: 100%;
    margin: 5px 0 5px 0;
    border-top: 2px solid var(--stat-block-primary);
}

.creature-stat-block i {
    font-weight: 600;
}

.creature-stat-block b {
    font-size: 14px;
    font-weight: 600;
}

.creature-stat-block hit::before {
    content: "+";
}

.creature-stat-block .actions damage, .creature-stat-block .actions condition {
    font-weight: 600;
    color: var(--title-blue);
}

.creature-stat-block .actions {
    margin-top: -5px;
}