button {
  border-radius: 12px; 
}

.addMobArea button {  
  background-color: #ddd; /* Green */
  border: 1px solid #ddd;
  transition-duration: 0.4s;
}

.addMobArea button:hover {
  background-color: #fff; /* Green */
  border: thin solid black;
}

.addMobArea button:active {
  transition-duration: 0s;
  background-color: #ccc;
}

.header {
  padding: 5px 10px;
  background-color: #99ccff;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.mobBlock {
  border: thin solid #000;
  width: ;
  border-collapse: collapse;
  background-color: #f9f9eb;
  margin-bottom: 3px;
}

.mobBlock td:nth-child(1) {
  border-right: thin solid #000;
  background-color: white;
  text-align: center;
}

.mobBlock button {
  background-color: white;
  color:red;
  border: none;
  transition-duration: 0.2s;
  font-size: 18px;
  vertical-align: top;
  border-radius: 2px;
}

.mobBlock button:hover {
  background-color: #ff1a1a;
  color: white;
}

.mobBlock button:active {
  transition-duration: 0s;
  background-color: #ffcccc;
}

.addMobArea div {
    margin-bottom: 2px; 
} 

.addMobArea table {
  border-collapse: collapse;
  width: 100%;
}

/* Add mob text*/
.addMobArea td:nth-child(1) {
  color: #f2f2f2;
  background-color: #b5cce3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  width: 70px;
}

.addMobArea td:nth-child(2) {
  width: 290px;
}

/* How to info */
.addMobArea td:nth-child(4) {
  color: #f2f2f2;
  background-color: #b5cce3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  width: 400px;
}

/* Add mob area */
.addMobArea td {
  background-color: #90b3d5;
  text-align: left;
  padding-left: 5px;
  vertical-align: top;
}

/* Categories to add mobs */
.addMobArea td div:nth-child(odd) {
  margin-top: 3px;
  font-size: 12px;
  color: #f2f2f2;
  text-decoration: underline;
  font-weight: bold;
}

.acArea {
  background-color: #dfe6ec; 
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
}

.mobHeader:hover {
  background-color: #e3e3e3;
}

.mobHeader *:hover {
  background-color: #f3f3f3; 
}
