@font-face {
  font-family: Candara;
  src: url(../Candara.ttf);
}

body {
  background-color: #f0f0f0;
  font-family: Candara;
}

button {
  border-radius: 12px;
  box-shadow: 0px 0px 2px #666;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: thin solid rgba(0, 0, 0, 0.2);
  padding-top: 0.5rem;
}

.footer .divider {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-right: 3px;
  margin-left: 3px;
  vertical-align: middle;
  border-left: 1px solid black;
}

.header {
  padding: 5px 10px;
  background-color: #64a3e3;
  color: #f2f2f2;
  font-family: Candara, Italic,  sans-serif;
  box-shadow: 2px 2px 2px #666;
  text-align: left;
  border-bottom: 5px solid #b5cce3;
}

.header-category {
  padding: 5px 10px;
  background-color: #64a3e3;
  color: #f2f2f2;
  font-family: Candara, Italic,  sans-serif;
  box-shadow: 2px 2px 2px #666;
  text-align: left;
  border-bottom: 5px solid #b5cce3;
  font-size: 24px;
  text-align: center;
}

.category {
  border: 10px solid #97b3cf;
  background-color: #65819c;
  color: white;
  padding: 10px;
  width: 96%;
  margin: auto;
  box-shadow: 2px 2px 2px #666;
}

form {
  text-align: center;
  margin-top: 5px;
}

.mobile-hide {
  display: block;
}

.mobile-display {
  display: none;
}

.mobile-display-inline {
  display: none;
}

@media screen and (max-width: 660px) {
  
  body {
    margin: 0;
  }
  
  .header-category {
    margin-top: 10px;
  }
  
  .category {
    width: auto;
  }
  
  .mobile-hide {
    display: none;
  } 
  
  .mobile-display {
    display: block;
  }

  .mobile-display-inline {
    display: inline-block;
  }

}

